buildImage = 'ghcr.io/railwayapp/nixpacks:latest'

[phases.setup]
nixPkgs = ["nodejs_24"]
# node v24.5.0
nixpkgsArchive = 'cf93ceb06388f5714302b702cccf2c77f6064442'

[phases.install]
dependsOn = ["setup"]
cmd = "npm install"

[phases.build]
dependsOn = ["install"]
cmd = "NODE_OPTIONS=--max_old_space_size=8192 npm run build"

[start]
cmd = "node .output/server/index.mjs"
